<h2>Chiamate HTTP</h2>

<button type="button" (click)="makeRequest()">GET</button>
<div *ngIf="loading">loading...</div>
<pre id="res-get" style="display:none">{{dataGet | json}}</pre>

<hr>

<button type="button" (click)="makeTypedRequest()">GET tipizzata</button>

<!--Uso un ciclo for per scandire tutta la lista di dischi-->
<div *ngFor="let articoli of fooData">
    <h4>{{articoli.titolo}}</h4>
    <table>
        <tr>
            <td>URL</td>
            <td><i>{{articoli.url}}</i></td>
        </tr>
        <tr>
            <td>LIKE</td>
            <td><i>{{articoli.like}}</i></td>
        </tr>
    </table>
    <hr>
</div>

<hr>

<button type="button" (click)="makeCompactPost()">POST</button>
<pre id="res-post" style="display:none">{{dataPost | json}}</pre>
